:root {
    --colorFondo: #ff3f5b;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Montserrat;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

form {
    text-align: center;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

span {
    color: var(--colorFondo);
}

.contenedorVida,
.contenedorTrabajo,
.contenedorObjetivo {
    margin-top: 60px;
}

.contenedor input {
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    outline: none;
    border-bottom: 1px rgb(255, 198, 198) solid;
    border-right: 1px rgb(255, 198, 198) solid;
    margin: 5px;
    padding-left: 20px;
}

.contenedor input::placeholder {
    color: rgb(184, 184, 184);
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
}

input.require {
    border: solid red 1px;
    outline: solid red 1px;
    transition: 2s;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: crimson;
    font-family: Montserrat;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

button.procesando {
    animation: procesando 0.5s linear infinite;
}


/* Estilos para mostrar los resultados */

.resultados {
    position: fixed;
    top: 0px;
    left: 200vh;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: var(--colorFondo);
    visibility: hidden;
    transition: 1s;
    opacity: 0.6;
}

.resultados .resultadosTitulos {
    height: 200px;
}

.resultados .resultadosTitulos h4 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #fff;
}

.resultados .resultadosTitulos h4 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #fff;
}

.resultados .resultadosTitulos p {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    color: white;
    text-align: center;
}

.resultadosCalculos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0px 130px 0px 130px;
}

.resultadosCalculos .contenedorCirclesCalculos {
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultadosCalculos .contenedorCirclesCalculos p {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.resultadosCalculos .contenedorCirclesCalculos .cirlces {
    height: 150px;
    width: 150px;
    background-color: var(--colorFondo);
    border-radius: 50%;
    border: 6px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.resultadosCalculos .contenedorCirclesCalculos .cirlces p.valor {
    font-size: 20px;
    font-weight: 600;
    color: white;
}


/* interacciones */

.mostrar {
    visibility: visible;
    left: 0vw;
    transition: 1s;
    opacity: 1;
}


/* Pantallas pequeñas */

@media (max-width: 599px) {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .contenedor {
        width: 80%;
    }
    h4 {
        font-size: 20px;
        margin-top: 20px;
    }
    .contenedorVida,
    .contenedorTrabajo,
    .contenedorObjetivo {
        margin-top: 60px;
    }
    .contenedor input {
        width: 350px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: none;
        outline: none;
        border-bottom: 1px rgb(255, 198, 198) solid;
        border-right: 1px rgb(255, 198, 198) solid;
        margin: 5px;
        padding-left: 20px;
    }
    .contenedor input::placeholder {
        color: rgb(184, 184, 184);
        font-size: 17px;
    }
    button {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 300px;
        height: 40px;
        border-radius: 20px;
        border: none;
        background: crimson;
        font-family: Montserrat;
        font-weight: 600;
        color: white;
        font-size: 18px;
    }
    .contenedor input.require {
        border: solid crimson 0.6px;
        transition: 2s;
    }
    .resultados .resultadosTitulos h4 {
        font-size: 36px;
    }
}


/* utilizacopn de animaciones */

@keyframes procesando {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}